.hr {
    border: 1px solid rgb(190, 190, 190);
    width: 100%;
}

.deleteBtn {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
}

.deleteBtn:hover {
    filter: brightness(0.8);
    transform: scale(1.1);
}

.emptyCartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    margin: auto;
    width: 800px;
}

.container h2 {
    width: 100%;
    text-align: left;
}

.item {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 0.5fr 0.5fr;
    gap: 1.5rem;
    background-color: rgb(240, 250, 255);
    padding: 1.2rem 2rem;
    border-radius: 0.5rem;
    width: 100%;
    align-items: center;
}

.item h3 {
    font-size: 1.1rem;
}

.item .imgContainer {
    width: 100px;
    height: 100px;
    display: block;
    flex-shrink: 0;
}

.item img {
    object-fit: contain;
    aspect-ratio: 1;
}

.item .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
