.counter {
    display: flex;
    gap: 4px;
}

.counter input[type="number"]::-webkit-outer-spin-button,
.counter input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

.counter input[type="number"],
.counter button {
    padding: 6px 4px;
    margin: 0;
    text-align: center;
    width: 2rem;
    font-size: 1rem;
    border: 1px solid silver;
    border-radius: 4px;
    background-color: white;
}

.counter button {
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(0, 200, 0);
    color: white;
    border: none;
    transition: 100ms ease;
}

.counter button:hover {
    background-color: red;
}

.counter button:active {
    transform: translateY(-3px);
}