.categories {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1.5rem 0;
}

.categories button {
    background-color: rgb(243, 243, 243);
    color: black;
    border: 1px solid rgb(210, 210, 210);
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: 200ms ease-in-out;
}

.categories .active {
    background-color: red;
    color: white;
    border: 1px solid crimson;
}

.categories button:hover {
    background-color: red;
    color: white;
    transform: translateY(-4px);
}

.categories button:active {
    transform: translateY(-6px);
}