.categories {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1.5rem 0;
}

.categories button {
    background-color: rgb(243, 243, 243);
    color: black;
    border: 1px solid rgb(210, 210, 210);
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}
