.mainMenu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.mainMenu li {
    margin: 0;
}

.mainMenu a {
    text-decoration: none;
    font-size: 1.2rem;
}

.mainMenu a:hover {
    color: red;
    text-decoration: underline;
}
