* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
    line-height: 1.4;
    letter-spacing: 0.8px;
}

img {
    width: 100%;
}

main {
    padding: 1rem;
}

header {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.active {
    color: red;
}